 :root {
   --main-color: #2E3D50;
   --main-red: #FD0000;
   --main-white: #FEFEFE;
 }

 /* Style the header with a grey background and some padding */
 .header {
   overflow: hidden;
   padding: 20px 10px;
 }

 /* Style the header links */
 .header a {
   float: left;
   color: var(--main-white);
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
   transition: all .2s;
 }

 /* Change the background color on mouse-over */
 .header a:hover {
   color: var(--main-red);
 }

 /* Float the link section to the right */
 .header-right {
   float: right;
 }

 /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
 @media screen and (max-width: 500px) {
   .header a {
     float: none;
     display: block;
     text-align: left;
   }

   .header-right {
     float: none;
   }
 }



 .u-section-1 {
   background: var(--main-color);
   height: 100%;
 }

 #sec-0a71 {
   background-color: var(--main-color);
 }

 .u-section-1 .u-sheet-1 {
   min-height: 824px;
 }

 .u-section-1 .u-text-1 {
   font-size: 3.75rem;
   letter-spacing: 0px;
   text-transform: none;
   font-weight: 700;
   font-family: Montserrat, sans-serif;
   margin: 250px 218px 0 0;
 }

 .u-section-1 .u-text-2 {
   font-size: 1.25rem;
   font-family: Roboto, sans-serif;
   letter-spacing: 0px;
   text-transform: none;
   line-height: 1.4;
   font-weight: 700;
   margin: 30px 90px 0 0;
   text-align: justify;
 }

 .u-section-1 .u-form-1 {
   height: 56px;
   margin: 102px 576px 60px 0;
 }

 .u-section-1 .u-label-1 {
   font-size: 1.25rem;
 }

 .u-section-1 .u-input-1 {
   font-size: 1.25rem;
   text-transform: uppercase;
   font-weight: 600;
 }

 .u-section-1 .u-btn-1 {
   background-image: none;
   border-style: solid;
   font-size: 1.25rem;
   width: 300%;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   padding: 0 20px;
   display: flex;
   align-items: center;
   height: 100%;
   margin: 0;
   justify-content: center;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-sheet-1 {
     min-height: 679px;
   }

   .u-section-1 .u-text-1 {
     margin-right: 18px;
   }

   .u-section-1 .u-text-2 {
     margin-right: 310px;
   }

   .u-section-1 .u-form-1 {
     margin-right: 376px;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-sheet-1 {
     min-height: 650px;
   }

   .u-section-1 .u-text-1 {
     margin-top: 342px;
     margin-right: 0;
     font-size: 3rem;
   }

   .u-section-1 .u-text-2 {
     font-size: 1rem;
     margin-right: 90px;
   }

   .u-section-1 .u-form-1 {
     margin-top: 43px;
     margin-right: 156px;
     margin-bottom: 59px;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
     min-height: 488px;
   }

   .u-section-1 .u-text-2 {
     margin-right: 0;
   }

   .u-section-1 .u-form-1 {
     margin-right: 0;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 {
     background-position: 14.49% 0%;
   }

   .u-section-1 .u-sheet-1 {
     min-height: 307px;
   }

   .u-section-1 .u-text-1 {
     font-size: 1.875rem;
   }
 }

 .u-section-2 {
   background-image: none;
 }

 .u-section-2 .u-sheet-1 {
   min-height: 420px;
 }

 .u-section-2 .u-list-1 {
   margin: 60px auto 24px;
 }

 .u-section-2 .u-repeater-1 {
   grid-template-columns: repeat(4, 25%);
   min-height: 300px;
   grid-gap: 0px;
 }

 .u-section-2 .u-list-item-1 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-2 .u-container-layout-1 {
   padding: 30px 27px 0;
 }

 .u-section-2 .u-text-1 {
   text-align: left;
   font-weight: 700;
   font-size: 1.5rem;
   margin: 0 auto 0 3px;
 }

 .u-section-2 .u-text-2 {
   text-align: left;
   font-style: normal;
   margin: 12px 3px 0;
 }

 .u-section-2 .u-line-1 {
   width: 224px;
   transform-origin: left center 0px;
   height: 15px;
   text-align: left;
   margin: 60px auto 0;
 }

 .u-section-2 .u-list-item-2 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-2 .u-container-layout-2 {
   padding: 30px 27px 0;
 }

 .u-section-2 .u-text-3 {
   text-align: left;
   font-weight: 700;
   font-size: 1.5rem;
   margin: 0 auto 0 3px;
 }

 .u-section-2 .u-text-4 {
   text-align: left;
   font-style: normal;
   margin: 12px 3px 0;
 }

 .u-section-2 .u-line-2 {
   width: 224px;
   transform-origin: left center;
   height: 15px;
   text-align: left;
   margin: 60px auto 0;
 }

 .u-section-2 .u-list-item-3 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-2 .u-container-layout-3 {
   padding: 30px 27px 0;
 }

 .u-section-2 .u-text-5 {
   text-align: left;
   font-weight: 700;
   font-size: 1.5rem;
   margin: 0 auto 0 3px;
 }

 .u-section-2 .u-text-6 {
   text-align: left;
   font-style: normal;
   margin: 12px 3px 0;
 }

 .u-section-2 .u-line-3 {
   width: 224px;
   transform-origin: left center 0px;
   height: 15px;
   text-align: left;
   margin: 60px auto 0;
 }

 .u-section-2 .u-list-item-4 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-2 .u-container-layout-4 {
   padding: 30px 27px 0;
 }

 .u-section-2 .u-text-7 {
   text-align: left;
   font-weight: 700;
   font-size: 1.5rem;
   margin: 0 auto 0 3px;
 }

 .u-section-2 .u-text-8 {
   text-align: left;
   font-style: normal;
   margin: 12px 3px 0;
 }

 .u-section-2 .u-line-4 {
   width: 224px;
   transform-origin: left center 0px;
   height: 15px;
   text-align: left;
   margin: 60px auto 0;
 }

 @media (max-width: 1199px) {
   .u-section-2 .u-list-1 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-2 .u-repeater-1 {
     min-height: 247px;
   }

   .u-section-2 .u-container-layout-1 {
     padding-top: 0;
     padding-left: 0;
     padding-right: 0;
   }

   .u-section-2 .u-text-1 {
     width: auto;
     font-size: 1.25rem;
     margin-top: 38px;
     margin-left: 29px;
   }

   .u-section-2 .u-text-2 {
     width: 178px;
     margin-top: 13px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-2 .u-line-1 {
     margin-top: 23px;
   }

   .u-section-2 .u-container-layout-2 {
     padding-top: 0;
     padding-left: 0;
     padding-right: 0;
   }

   .u-section-2 .u-text-3 {
     width: auto;
     font-size: 1.25rem;
     margin-top: 38px;
     margin-left: 29px;
   }

   .u-section-2 .u-text-4 {
     width: 178px;
     margin-top: 13px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-2 .u-line-2 {
     margin-top: 23px;
   }

   .u-section-2 .u-container-layout-3 {
     padding-top: 0;
     padding-left: 0;
     padding-right: 0;
   }

   .u-section-2 .u-text-5 {
     width: auto;
     font-size: 1.25rem;
     margin-top: 38px;
     margin-left: 29px;
   }

   .u-section-2 .u-text-6 {
     width: 178px;
     margin-top: 13px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-2 .u-line-3 {
     margin-top: 23px;
   }

   .u-section-2 .u-container-layout-4 {
     padding-top: 0;
     padding-left: 0;
     padding-right: 0;
   }

   .u-section-2 .u-text-7 {
     width: auto;
     font-size: 1.25rem;
     margin-top: 38px;
     margin-left: 29px;
   }

   .u-section-2 .u-text-8 {
     width: 178px;
     margin-top: 13px;
     margin-left: auto;
     margin-right: auto;
   }

   .u-section-2 .u-line-4 {
     margin-top: 23px;
   }
 }

 @media (max-width: 991px) {
   .u-section-2 .u-sheet-1 {
     min-height: 654px;
   }

   .u-section-2 .u-list-1 {
     margin-bottom: -127px;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-2 .u-repeater-1 {
     grid-template-columns: repeat(2, 50%);
     min-height: 534px;
   }

   .u-section-2 .u-text-2 {
     width: auto;
     margin-left: 29px;
     margin-right: 29px;
   }

   .u-section-2 .u-line-1 {
     width: 302px;
     transform-origin: left center;
     margin-top: 48px;
   }

   .u-section-2 .u-text-4 {
     width: auto;
     margin-left: 29px;
     margin-right: 29px;
   }

   .u-section-2 .u-line-2 {
     width: 302px;
     margin-top: 48px;
   }

   .u-section-2 .u-text-6 {
     width: auto;
     margin-left: 29px;
     margin-right: 29px;
   }

   .u-section-2 .u-line-3 {
     width: 302px;
     margin-top: 48px;
   }

   .u-section-2 .u-text-8 {
     width: auto;
     margin-left: 29px;
     margin-right: 29px;
   }

   .u-section-2 .u-line-4 {
     width: 302px;
     margin-top: 48px;
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-sheet-1 {
     min-height: 841px;
   }

   .u-section-2 .u-list-1 {
     margin-bottom: 60px;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-2 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-2 .u-text-1 {
     margin-right: 320px;
     margin-left: 31px;
   }

   .u-section-2 .u-text-2 {
     margin-right: 105px;
     margin-left: 31px;
   }

   .u-section-2 .u-line-1 {
     width: 478px;
   }

   .u-section-2 .u-text-3 {
     margin-right: 320px;
     margin-left: 31px;
   }

   .u-section-2 .u-text-4 {
     margin-right: 105px;
     margin-left: 31px;
   }

   .u-section-2 .u-line-2 {
     width: 478px;
   }

   .u-section-2 .u-text-5 {
     margin-right: 320px;
     margin-left: 31px;
   }

   .u-section-2 .u-text-6 {
     margin-right: 105px;
     margin-left: 31px;
   }

   .u-section-2 .u-line-3 {
     width: 478px;
     transform-origin: left center;
   }

   .u-section-2 .u-text-7 {
     margin-right: 320px;
     margin-left: 31px;
   }

   .u-section-2 .u-text-8 {
     margin-right: 105px;
     margin-left: 31px;
   }

   .u-section-2 .u-line-4 {
     width: 478px;
   }
 }

 @media (max-width: 575px) {
   .u-section-2 .u-text-1 {
     margin-right: 151px;
     margin-left: 26px;
   }

   .u-section-2 .u-text-2 {
     margin-top: 12px;
     margin-left: 26px;
     margin-right: 26px;
   }

   .u-section-2 .u-line-1 {
     width: 340px;
     margin-top: 49px;
   }

   .u-section-2 .u-text-3 {
     margin-right: 151px;
     margin-left: 26px;
   }

   .u-section-2 .u-text-4 {
     margin-top: 12px;
     margin-left: 26px;
     margin-right: 26px;
   }

   .u-section-2 .u-line-2 {
     width: 340px;
     margin-top: 49px;
   }

   .u-section-2 .u-text-5 {
     margin-right: 151px;
     margin-left: 26px;
   }

   .u-section-2 .u-text-6 {
     margin-top: 12px;
     margin-left: 26px;
     margin-right: 26px;
   }

   .u-section-2 .u-line-3 {
     width: 340px;
     margin-top: 49px;
   }

   .u-section-2 .u-text-7 {
     margin-right: 151px;
     margin-left: 26px;
   }

   .u-section-2 .u-text-8 {
     margin-top: 12px;
     margin-left: 26px;
     margin-right: 26px;
   }

   .u-section-2 .u-line-4 {
     width: 340px;
     margin-top: 49px;
   }
 }

 .u-section-3 .u-sheet-1 {
   min-height: 607px;
 }

 .u-section-3 .u-layout-wrap-1 {
   margin-top: 60px;
   margin-bottom: -2px;
 }

 .u-section-3 .u-layout-cell-1 {
   min-height: 487px;
 }

 .u-section-3 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-3 .u-text-1 {
   font-weight: 700;
   font-size: 3rem;
   margin: 0;
 }

 .u-section-3 .u-text-2 {
   font-weight: 400;
   margin: 20px 0 0;
 }

 .u-section-3 .u-image-1 {
   width: 255px;
   height: 170px;
   margin: 30px auto 0 0;
 }

 .u-section-3 .u-layout-cell-2 {
   min-height: 487px;
 }

 .u-section-3 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-3 .u-text-3 {
   margin-bottom: 0;
   margin-top: 0;
   font-size: 1.125rem;
 }

 .u-section-3 .u-list-1 {
   margin-bottom: 0;
   margin-top: 78px;
 }

 .u-section-3 .u-repeater-1 {
   grid-template-columns: repeat(2, calc(50% - 5px));
   min-height: 201px;
   grid-gap: 10px;
 }

 .u-section-3 .u-list-item-1 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-3 .u-container-layout-3 {
   padding: 10px;
 }

 .u-section-3 .u-text-4 {
   font-weight: 700;
   font-size: 4.5rem;
   margin: 0;
 }

 .u-section-3 .u-text-5 {
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   font-size: 0.875rem;
 }

 .u-section-3 .u-list-item-2 {
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-3 .u-container-layout-4 {
   padding: 10px;
 }

 .u-section-3 .u-text-6 {
   font-weight: 700;
   font-size: 4.5rem;
   margin: 0;
 }

 .u-section-3 .u-text-7 {
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   font-size: 0.875rem;
 }

 @media (max-width: 1199px) {
   .u-section-3 .u-sheet-1 {
     min-height: 582px;
   }

   .u-section-3 .u-layout-wrap-1 {
     margin-bottom: 60px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 402px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 556px;
   }

   .u-section-3 .u-list-1 {
     margin-top: 46px;
   }

   .u-section-3 .u-repeater-1 {
     min-height: 216px;
   }
 }

 @media (max-width: 991px) {
   .u-section-3 .u-sheet-1 {
     min-height: 220px;
   }

   .u-section-3 .u-layout-cell-1 {
     min-height: 762px;
   }

   .u-section-3 .u-container-layout-1 {
     padding: 29px;
   }

   .u-section-3 .u-text-1 {
     width: auto;
     margin-left: 1px;
     margin-right: 1px;
     font-size: 2.25rem;
   }

   .u-section-3 .u-text-2 {
     margin-top: 21px;
     margin-left: 1px;
     margin-right: 1px;
   }

   .u-section-3 .u-image-1 {
     margin-left: 1px;
   }

   .u-section-3 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-3 .u-repeater-1 {
     grid-template-columns: 100%;
   }
 }

 @media (max-width: 767px) {
   .u-section-3 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-3 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-3 .u-text-1 {
     font-size: 1.875rem;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-text-2 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-3 .u-image-1 {
     margin-left: 0;
   }

   .u-section-3 .u-text-4 {
     font-size: 3rem;
   }

   .u-section-3 .u-text-6 {
     font-size: 3rem;
   }
 }

 .u-section-4 {
   background-color: var(--main-white);
 }

 .u-section-4 .u-text-1 {
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin: 60px auto 0;
 }

 .u-section-4 .u-text-2 {
   font-weight: 700;
   font-size: 3rem;
 }

 .u-section-4 .u-list-1 {
   margin: 51px 0 49px;
 }

 .owl-avtor .owl-item {
   padding: 100px 0;
 }

 .owl-avtor .owl-item .u-shape-rectangle {
   padding: 20px 0;
 }

 .u-section-4 .u-repeater-1 {
   grid-template-columns: 33.3333% 33.3333% 33.3333%;
   min-height: 535px;
   grid-gap: 0px 0px;
 }

 .u-section-4 .u-list-item-1 {
   transition-duration: 0.5s;
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-1 {
   padding: 10px 30px 0;
 }

 .u-button-style.u-palette-2-base,
 .u-button-style.u-palette-2-base[class*="u-border-"] {
   background-color: var(--main-red) !important;
 }

 .u-border-palette-2-base,
 .u-separator-palette-2-base:after {
   border-color: var(--main-red) !important;
 }

 .u-section-4 .u-icon-1 {
   width: 100px;
   background-image: none;
   margin: 19px auto 0;
 }

 .u-section-7 {
   background-image: none;
 }

 /* 
.u-section-7 .u-sheet-1 {
  min-height: 668px;
} */

 .u-section-7 .u-text-1 {
   font-weight: 700;
   margin: 60px auto 0 0;
 }

 .u-section-7 .u-text-2 {
   margin: 20px 570px 0 0;
 }

 .u-section-7 .u-list-1 {
   margin: 61px auto 0 0;
 }

 .u-section-7 .u-repeater-1 {
   grid-template-columns: repeat(4, calc(25% - 24px));
   min-height: 299px;
   grid-gap: 32px;
 }

 .u-section-7 .u-list-item-1 {
   background-image: none;
 }

 .u-section-7 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-7 .u-text-3 {
   font-size: 4.5rem;
   font-weight: 700;
   margin: 0 11px;
 }

 .u-section-7 .u-text-4 {
   letter-spacing: 2px;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 1rem;
   margin: 20px 0 0;
 }

 .u-section-7 .u-text-5 {
   font-size: 1rem;
   font-style: italic;
   margin: 20px 0 0;
 }

 .u-section-7 .u-list-item-2 {
   background-image: none;
 }

 .u-section-7 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-7 .u-text-6 {
   font-size: 4.5rem;
   font-weight: 700;
   margin: 0 11px;
 }

 .u-section-7 .u-text-7 {
   letter-spacing: 2px;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 1rem;
   margin: 20px 0 0;
 }

 .u-section-7 .u-text-8 {
   font-size: 1rem;
   font-style: italic;
   margin: 20px 0 0;
 }

 .u-section-7 .u-list-item-3 {
   background-image: none;
 }

 .u-section-7 .u-container-layout-3 {
   padding: 30px;
 }

 .u-section-7 .u-text-9 {
   font-size: 4.5rem;
   font-weight: 700;
   margin: 0 11px;
 }

 .u-section-7 .u-text-10 {
   letter-spacing: 2px;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 1rem;
   margin: 20px 0 0;
 }

 .u-section-7 .u-text-11 {
   font-size: 1rem;
   font-style: italic;
   margin: 20px 0 0;
 }

 .u-section-7 .u-list-item-4 {
   background-image: none;
 }

 .u-section-7 .u-container-layout-4 {
   padding: 30px;
 }

 .u-section-7 .u-text-12 {
   font-size: 4.5rem;
   font-weight: 700;
   margin: 0 11px;
 }

 .u-section-7 .u-text-13 {
   letter-spacing: 2px;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 1rem;
   margin: 20px 0 0;
 }

 .u-section-7 .u-text-14 {
   font-size: 1rem;
   font-style: italic;
   margin: 20px 0 0;
 }

 @media (max-width: 1199px) {
   .u-section-7 .u-sheet-1 {
     min-height: 669px;
   }

   .u-section-7 .u-text-2 {
     margin-right: 370px;
   }

   .u-section-7 .u-list-1 {
     height: auto;
     margin-bottom: 60px;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-7 .u-text-3 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-text-6 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-text-9 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-7 .u-text-12 {
     margin-left: 0;
     margin-right: 0;
   }
 }

 @media (max-width: 991px) {
   .u-section-7 .u-text-2 {
     margin-right: 150px;
   }

   .u-section-7 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 16px));
   }
 }

 @media (max-width: 767px) {
   .u-section-7 .u-text-2 {
     margin-right: 0;
   }

   .u-section-7 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-7 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-7 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-7 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-7 .u-sheet-1 {
     min-height: 1594px;
   }

   .u-section-7 .u-text-1 {
     width: auto;
   }

   .u-section-7 .u-repeater-1 {
     grid-template-columns: repeat(1, 100%);
   }

   .u-section-7 .u-text-3 {
     font-size: 3rem;
   }

   .u-section-7 .u-text-6 {
     font-size: 3rem;
   }

   .u-section-7 .u-text-9 {
     font-size: 3rem;
   }

   .u-section-7 .u-text-12 {
     font-size: 3rem;
   }
 }

 .u-section-4 .u-text-3 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 29px auto 0;
 }

 .u-section-4 .u-text-4 {
   margin: 20px 0 0;
 }

 .u-section-4 .u-line-1 {
   height: 15px;
   margin: 30px 0 0;
 }

 .u-section-4 .u-list-item-2 {
   transition-duration: 0.5s;
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-2 {
   padding: 10px 30px 0;
 }

 .u-section-4 .u-icon-2 {
   width: 48px;
   height: 48px;
   margin: 19px auto 0;
 }

 .u-section-4 .u-text-5 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 29px auto 0;
 }

 .u-section-4 .u-text-6 {
   margin: 20px 0 0;
 }

 .u-section-4 .u-line-2 {
   height: 15px;
   transform-origin: left center;
   margin: 30px 0 0;
 }

 .u-section-4 .u-list-item-3 {
   transition-duration: 0.5s;
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-3 {
   padding: 10px 30px 0;
 }

 .u-section-4 .u-icon-3 {
   width: 48px;
   height: 48px;
   background-image: none;
   margin: 19px auto 0;
 }

 .u-section-4 .u-text-7 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 29px auto 0;
 }

 .u-section-4 .u-text-8 {
   margin: 20px 0 0;
 }

 .u-section-4 .u-line-3 {
   height: 15px;
   margin: 30px 0 0;
 }

 .u-section-4 .u-list-item-4 {
   transition-duration: 0.5s;
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-4 {
   padding: 10px 30px 0;
 }

 .u-section-4 .u-icon-4 {
   width: 48px;
   height: 48px;
   background-image: none;
   margin: 19px auto 0;
 }

 .u-section-4 .u-text-9 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 29px auto 0;
 }

 .u-section-4 .u-text-10 {
   margin: 20px 0 0;
 }

 .u-section-4 .u-line-4 {
   height: 15px;
   margin: 30px 0 0;
 }

 .u-section-4 .u-list-item-5 {
   transition-duration: 0.5s;
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-5 {
   padding: 10px 30px 0;
 }

 .u-section-4 .u-icon-5 {
   width: 48px;
   height: 48px;
   background-image: none;
   margin: 19px auto 0;
 }

 .u-section-4 .u-text-11 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 29px auto 0;
 }

 .u-section-4 .u-text-12 {
   margin: 20px 0 0;
 }

 .u-section-4 .u-line-5 {
   height: 15px;
   margin: 30px 0 0;
 }

 .u-section-4 .u-list-item-6 {
   transition-duration: 0.5s;
   background-image: none;
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-4 .u-container-layout-6 {
   padding: 10px 30px 0;
 }

 .u-section-4 .u-icon-6 {
   width: 48px;
   height: 48px;
   background-image: none;
   margin: 19px auto 0;
 }

 .u-section-4 .u-text-13 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 29px auto 0;
 }

 .u-section-4 .u-text-14 {
   margin: 20px 0 0;
 }

 .u-section-4 .u-line-6 {
   height: 15px;
   margin: 30px 0 0;
 }

 @media (max-width: 1199px) {
   .u-section-4 .u-list-1 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-4 .u-repeater-1 {
     min-height: 441px;
   }

   .u-section-4 .u-line-1 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-4 .u-line-2 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-4 .u-line-3 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-4 .u-line-4 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-4 .u-line-5 {
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-4 .u-line-6 {
     margin-right: initial;
     margin-left: initial;
   }
 }

 @media (max-width: 991px) {
   .u-section-4 .u-text-2 {
     font-size: 2.25rem;
   }

   .u-section-4 .u-repeater-1 {
     min-height: 760px;
     grid-template-columns: 50% 50%;
   }
 }

 @media (max-width: 767px) {
   .u-section-4 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-4 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-5 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-4 .u-container-layout-6 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-4 .u-text-2 {
     width: 340px;
     font-size: 1.875rem;
   }
 }

 .u-section-5 .u-sheet-1 {
   min-height: 952px;
 }

 .u-section-5 .u-layout-wrap-1 {
   margin-top: 70px;
   margin-bottom: 0;
 }

 .u-section-5 .u-layout-cell-1 {
   min-height: 350px;
 }

 .u-section-5 .u-container-layout-1 {
   padding: 30px 50px 30px 30px;
 }

 .u-section-5 .u-text-1 {
   font-size: 3rem;
   font-weight: 700;
   margin: 0;
 }

 .u-section-5 .u-text-2 {
   font-weight: 400;
   line-height: 1.4;
   font-size: 1rem;
   margin: 20px 0 0;
 }

 .u-section-5 .u-image-1 {
   min-height: 350px;
   background-image: url("../images/pexels-photo-1181352.jpeg");
   background-position: 50% 50%;
 }

 .u-section-5 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-5 .u-list-1 {
   width: 695px;
   margin: 55px auto -90px 0;
 }

 .u-section-5 .u-repeater-1 {
   grid-template-columns: calc(50% - 5px) calc(50% - 5px);
   min-height: 394px;
   grid-gap: 10px 10px;
 }

 .u-section-5 .u-list-item-1 {
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-5 .u-container-layout-3 {
   padding: 18px 30px;
 }

 .u-section-5 .u-text-3 {
   font-size: 6rem;
   font-weight: 700;
   margin: 0;
 }

 .u-section-5 .u-text-4 {
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 1.25rem;
   margin: 20px auto 0;
 }

 .u-section-5 .u-list-item-2 {
   background-image: none;
 }

 .u-section-5 .u-container-layout-4 {
   padding: 18px 30px;
 }

 .u-section-5 .u-text-5 {
   font-size: 6rem;
   font-weight: 700;
   margin: 0;
 }

 .u-section-5 .u-text-6 {
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 1.25rem;
   margin: 20px auto 0;
 }

 .u-section-5 .u-list-item-3 {
   background-image: none;
 }

 .u-section-5 .u-container-layout-5 {
   padding: 18px 30px;
 }

 .u-section-5 .u-text-7 {
   font-size: 6rem;
   font-weight: 700;
   margin: 0;
 }

 .u-section-5 .u-text-8 {
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 1.25rem;
   margin: 20px auto 0;
 }

 .u-section-5 .u-container-layout-6 {
   padding: 18px 30px;
 }

 .u-section-5 .u-text-9 {
   font-size: 6rem;
   font-weight: 700;
   margin: 0;
 }

 .u-section-5 .u-text-10 {
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 1.25rem;
   margin: 20px auto 0;
 }

 @media (max-width: 1199px) {
   .u-section-5 .u-sheet-1 {
     min-height: 1017px;
   }

   .u-section-5 .u-layout-cell-1 {
     min-height: 289px;
   }

   .u-section-5 .u-image-1 {
     min-height: 289px;
   }

   .u-section-5 .u-list-1 {
     margin-bottom: -30px;
   }
 }

 @media (max-width: 991px) {
   .u-section-5 .u-sheet-1 {
     min-height: 1391px;
   }

   .u-section-5 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-5 .u-container-layout-1 {
     padding-right: 30px;
   }

   .u-section-5 .u-text-1 {
     font-size: 2.25rem;
   }

   .u-section-5 .u-image-1 {
     min-height: 221px;
   }

   .u-section-5 .u-list-1 {
     margin-bottom: -132px;
   }

   .u-section-5 .u-repeater-1 {
     grid-template-columns: 100%;
   }
 }

 @media (max-width: 767px) {
   .u-section-5 .u-sheet-1 {
     min-height: 1530px;
   }

   .u-section-5 .u-layout-cell-1 {
     min-height: 266px;
   }

   .u-section-5 .u-container-layout-1 {
     padding-left: 9px;
     padding-right: 9px;
   }

   .u-section-5 .u-text-1 {
     width: auto;
     margin-left: 1px;
     margin-right: 1px;
   }

   .u-section-5 .u-text-2 {
     margin-left: 1px;
     margin-right: 1px;
   }

   .u-section-5 .u-image-1 {
     min-height: 332px;
   }

   .u-section-5 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-list-1 {
     width: 540px;
   }

   .u-section-5 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-container-layout-5 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-5 .u-container-layout-6 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-5 .u-sheet-1 {
     min-height: 1268px;
   }

   .u-section-5 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-5 .u-text-1 {
     font-size: 1.875rem;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-5 .u-text-2 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-5 .u-image-1 {
     min-height: 209px;
   }

   .u-section-5 .u-list-1 {
     width: 340px;
     margin-bottom: 70px;
   }

   .u-section-5 .u-text-3 {
     font-size: 3.75rem;
     width: auto;
   }

   .u-section-5 .u-text-4 {
     margin-top: 19px;
   }

   .u-section-5 .u-text-5 {
     font-size: 3.75rem;
     width: auto;
   }

   .u-section-5 .u-text-6 {
     margin-top: 19px;
   }

   .u-section-5 .u-text-7 {
     font-size: 3.75rem;
     width: auto;
   }

   .u-section-5 .u-text-8 {
     margin-top: 19px;
   }

   .u-section-5 .u-text-9 {
     font-size: 3.75rem;
     width: auto;
   }

   .u-section-5 .u-text-10 {
     margin-top: 19px;
   }
 }

 .u-section-6 .u-sheet-1 {
   min-height: 676px;
 }

 .owl-partners .u-container-layout{
   padding: 0 !important;
 }

 .owl-partners .owl-stage{
   display: flex;
   align-items: center;
 }

 /* 
.u-section-6 .u-list-1 {
  margin: 87px auto 39px;
} */
 .u-section-6 h2 {
   font-weight: 700 !important;
   font-size: 3rem !important;
 }

 .u-section-6 .u-repeater-1 {
   grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
   min-height: 509px;
   grid-gap: 40px;
 }

 .u-section-6 .u-list-item-1 {
   background-image: none;
 }

 .u-section-6 .u-container-layout-1 {
   padding: 0 21px;
 }

 .u-section-6 .u-image-1 {
   width: 286px;
   height: 286px;
   background-image: url("../images/pexels-photo-2381069.jpeg");
   background-position: 50% 50%;
   margin: -63px auto 0;
 }

 .u-section-6 .u-text-1 {
   font-weight: 700;
   margin: 23px 9px 0;
 }

 .u-section-6 .u-text-2 {
   font-size: 1.5rem;
   text-transform: none;
   font-weight: 700;
   margin: 12px 9px 0;
 }

 .u-section-6 .u-text-3 {
   font-weight: 300;
   font-style: normal;
   margin: 23px 9px 0;
 }

 .u-section-6 .u-social-icons-1 {
   white-space: nowrap;
   height: 27px;
   min-height: 16px;
   width: 101px;
   min-width: 68px;
   margin: 20px auto 0;
 }

 .u-section-6 .u-icon-1 {
   height: 100%;
 }

 .u-section-6 .u-icon-2 {
   height: 100%;
 }

 .u-section-6 .u-icon-3 {
   height: 100%;
 }

 .u-section-6 .u-container-layout-2 {
   padding: 0 21px;
 }

 .u-section-6 .u-image-2 {
   width: 286px;
   height: 286px;
   background-image: url("../images/pexels-photo-1181742.jpeg");
   background-position: 50% 50%;
   margin: -63px auto 0;
 }

 .u-section-6 .u-text-4 {
   font-weight: 700;
   margin: 23px 9px 0;
 }

 .u-section-6 .u-text-5 {
   font-size: 1.5rem;
   text-transform: none;
   font-weight: 700;
   margin: 12px 9px 0;
 }

 .u-section-6 .u-text-6 {
   font-weight: 300;
   font-style: normal;
   margin: 23px 9px 0;
 }

 .u-section-6 .u-social-icons-2 {
   white-space: nowrap;
   height: 27px;
   min-height: 16px;
   width: 101px;
   min-width: 68px;
   margin: 20px auto 0;
 }

 .u-section-6 .u-icon-4 {
   height: 100%;
 }

 .u-section-6 .u-icon-5 {
   height: 100%;
 }

 .u-section-6 .u-icon-6 {
   height: 100%;
 }

 .u-section-6 .u-list-item-3 {
   background-image: none;
 }

 .u-section-6 .u-container-layout-3 {
   padding: 0 21px;
 }

 .u-section-6 .u-image-3 {
   width: 286px;
   height: 286px;
   object-position: 50% 18.34%;
   background-image: url("../images/pexels-photo-3681609.jpeg");
   background-position: 50% 50%;
   margin: -63px auto 0;
 }

 .u-section-6 .u-text-7 {
   font-weight: 700;
   margin: 23px 9px 0;
 }

 .u-section-6 .u-text-8 {
   font-size: 1.5rem;
   text-transform: none;
   font-weight: 700;
   margin: 12px 9px 0;
 }

 .u-section-6 .u-text-9 {
   font-weight: 300;
   font-style: normal;
   margin: 23px 9px 0;
 }

 .u-section-6 .u-social-icons-3 {
   white-space: nowrap;
   height: 27px;
   min-height: 16px;
   width: 101px;
   min-width: 68px;
   margin: 20px auto 0;
 }

 .u-section-6 .u-icon-7 {
   height: 100%;
 }

 .u-section-6 .u-icon-8 {
   height: 100%;
 }

 .u-section-6 .u-icon-9 {
   height: 100%;
 }

 @media (max-width: 1199px) {
   .u-section-6 .u-sheet-1 {
     min-height: 642px;
   }

   .u-section-6 .u-list-1 {
     margin-bottom: 5px;
     margin-right: initial;
     margin-left: initial;
   }

   .u-section-6 .u-repeater-1 {
     grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
     min-height: 420px;
   }

   .u-section-6 .u-container-layout-1 {
     padding-bottom: 20px;
   }

   .u-section-6 .u-image-1 {
     width: 243px;
     height: 243px;
     margin-left: 0;
   }

   .u-section-6 .u-text-1 {
     margin-top: 66px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-text-2 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-text-3 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-container-layout-2 {
     padding-bottom: 20px;
   }

   .u-section-6 .u-image-2 {
     width: 243px;
     height: 243px;
     margin-left: 0;
   }

   .u-section-6 .u-text-4 {
     margin-top: 66px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-text-5 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-text-6 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-container-layout-3 {
     padding-bottom: 20px;
   }

   .u-section-6 .u-image-3 {
     width: 243px;
     height: 243px;
     margin-left: 0;
   }

   .u-section-6 .u-text-7 {
     margin-top: 66px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-text-8 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-6 .u-text-9 {
     margin-left: 0;
     margin-right: 0;
   }
 }

 @media (max-width: 991px) {
   .u-section-6 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 20.000025px));
     min-height: 965px;
   }

   .u-section-6 .u-image-1 {
     margin-left: auto;
   }

   .u-section-6 .u-text-1 {
     width: auto;
   }

   .u-section-6 .u-text-2 {
     width: auto;
   }

   .u-section-6 .u-text-3 {
     width: auto;
   }

   .u-section-6 .u-image-2 {
     margin-left: auto;
   }

   .u-section-6 .u-text-4 {
     width: auto;
   }

   .u-section-6 .u-text-5 {
     width: auto;
   }

   .u-section-6 .u-text-6 {
     width: auto;
   }

   .u-section-6 .u-image-3 {
     margin-left: auto;
   }

   .u-section-6 .u-text-7 {
     width: auto;
   }

   .u-section-6 .u-text-8 {
     width: auto;
   }

   .u-section-6 .u-text-9 {
     width: auto;
   }
 }

 @media (max-width: 767px) {
   .u-section-6 .u-repeater-1 {
     grid-template-columns: 100%;
   }

   .u-section-6 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-6 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-6 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 /* .u-section-7 .u-sheet-1 {
  min-height: 670px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 18px 402px 0 1px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 1px 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 15px 61px 17px 60px;
}

.u-section-7 .u-image-1 {
  min-height: 550px;
  background-image: url("../images/pexels-photo-3727464.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 522px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 329px;
  }
} */
 /* .u-section-8 .u-sheet-1 {
   min-height: 892px;
 } */
 .site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #ff5a6e;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #ff5a6e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading h2 span {
  color: var(--main-red);
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.team-area .single-item {
  margin-bottom: 30px;
}

.team-area .item .thumb {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.team-area .item .thumb::after {
  background: #232323 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
}

.team-area .team-items .item:hover .thumb::after {
  opacity: 0.7;
}

.team-area .item .thumb .overlay {
  top: -100%;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: 1;
}

.team-area .item:hover .thumb .overlay {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.team-area .item .thumb .overlay p {
  color: #ffffff;
}

.team-area .item .thumb .overlay h4 {
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.team-area .item .thumb img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.team-area .item:hover .thumb img {
  opacity: .6;
}

.team-area .item .thumb .social li {
  display: inline-block;
}

.team-area .item .thumb .social li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}

.team-area .info {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  padding: 40px 20px 20px;
  position: relative;
  text-align: center;
  z-index: 9;
}

.team-area .info .message {
  height: 50px;
  line-height: 40px;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.team-area .info .message a {
  background: #fff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  box-sizing: border-box;
  color: #ff5a6e;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.footer-social a{
  font-size: 40px;
  margin-right: 30px;
  color: var(--main-white);
}

.team-area .info .message a i {
  font-weight: 500;
}

.team-area .info h4 {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.team-area .info span {
  color: var(--main-red);
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.team-area .social li.twitter a {
  background-color: #00b6f1;
}

.team-area .social li.pinterest a {
  background-color: #bd081c;
}

.team-area .social li.facebook a {
  background-color: #3b5998;
}

.team-area .social li.google-plus a {
  background-color: #df4a32;
}

.team-area .social li.vimeo a {
  background-color: #1ab7ea;
}

.team-area .social li.instagram a {
  background-color: #cd486b;
}






 #carousel_1cbb {
   background-color: var(--main-white);
 }

 .u-section-8 .u-text-1 {
   letter-spacing: 2px;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 1.25rem;
   margin: 30px auto 0;
 }

 .u-section-8 .u-text-2 {
   font-weight: 700;
   font-size: 3rem;
   width: 716px;
   margin: 20px auto 0;
 }

 .u-section-8 .u-list-1 {
   margin-bottom: 45px;
   margin-top: 60px;
 }

 .u-section-8 .u-repeater-1 {
   grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
   /* min-height: 570px; */
   grid-gap: 40px;
 }

 .u-section-8 .u-list-item-1 {
   background-image: none;
   box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-8 .u-container-layout-1 {
   padding: 30px 10px 0;
 }

 .u-section-8 .u-icon-1 {
   width: 128px;
   height: 128px;
   background-image: none;
   margin: 0 auto;
 }

 .u-section-8 .u-text-3 {
   font-weight: 700;
   font-size: 3.75rem;
   margin: 30px auto 0;
 }

 .u-section-8 .u-text-4 {
   font-weight: 400;
   margin: 20px auto 0;
 }

 .u-section-8 .u-text-5 {
   line-height: 2;
   letter-spacing: 1px;
   text-align: center;
   width: 205px;
   margin: 30px auto 0;
   color: #000 !important;
 }

 .u-section-8 .u-btn-1 {
   text-transform: uppercase;
   font-size: 1rem;
   letter-spacing: 1px;
   font-weight: 600;
   background-image: none;
   margin: 30px auto 0;
   padding: 12px 42px 13px 41px;
 }

 .u-section-8 .u-line-1 {
   height: 3px;
   margin-bottom: 0;
   margin-top: 37px;
 }

 .u-section-8 .u-list-item-2 {
   background-image: none;
   box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-8 .u-container-layout-2 {
   padding: 30px 10px 0;
 }

 .u-section-8 .u-icon-2 {
   width: 128px;
   height: 128px;
   background-image: none;
   margin: 0 auto;
 }

 .u-section-8 .u-text-6 {
   font-weight: 700;
   font-size: 3.75rem;
   margin: 30px auto 0;
 }

 .u-section-8 .u-text-7 {
   font-weight: 400;
   margin: 20px auto 0;
 }

 .u-section-8 .u-text-8 {
   line-height: 2;
   letter-spacing: 1px;
   text-align: center;
   width: 205px;
   margin: 30px auto 0;
 }

 .u-section-8 .u-btn-2 {
   text-transform: uppercase;
   font-size: 1rem;
   letter-spacing: 1px;
   font-weight: 600;
   background-image: none;
   border-style: none;
   margin: 30px auto 0;
   padding: 12px 42px 13px 41px;
 }

 .u-section-8 .u-line-2 {
   height: 3px;
   margin-bottom: 0;
   margin-top: 37px;
   transform-origin: left center;
 }

 .u-section-8 .u-list-item-3 {
   background-image: none;
   box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
   --animation-custom_in-translate_x: 0px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-8 .u-container-layout-3 {
   padding: 30px 10px 0;
 }

 .u-section-8 .u-icon-3 {
   width: 128px;
   height: 128px;
   background-image: none;
   margin: 0 auto;
 }

 .u-section-8 .u-text-9 {
   font-weight: 700;
   font-size: 3.75rem;
   margin: 30px auto 0;
 }

 .u-section-8 .u-text-10 {
   font-weight: 400;
   margin: 20px auto 0;
 }

 .u-section-8 .u-text-11 {
   line-height: 2;
   letter-spacing: 1px;
   text-align: center;
   width: 205px;
   margin: 30px auto 0;
 }

 .u-section-8 .u-btn-3 {
   text-transform: uppercase;
   font-size: 1rem;
   letter-spacing: 1px;
   font-weight: 600;
   background-image: none;
   border-style: none;
   margin: 30px auto 0;
   padding: 12px 42px 13px 41px;
 }

 .u-section-8 .u-line-3 {
   height: 3px;
   margin-bottom: 0;
   margin-top: 37px;
 }

 @media (max-width: 1199px) {
   .u-section-8 .u-repeater-1 {
     min-height: 470px;
   }
 }

 @media (max-width: 991px) {
   .u-section-8 .u-sheet-1 {
     min-height: 1498px;
   }

   .u-section-8 .u-text-2 {
     font-size: 2.25rem;
   }

   .u-section-8 .u-list-1 {
     margin-bottom: -273px;
   }

   .u-section-8 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 20px));
     min-height: 1080px;
   }
 }

 @media (max-width: 767px) {
   .u-section-8 .u-sheet-1 {
     min-height: 2130px;
   }

   .u-section-8 .u-text-2 {
     width: 540px;
   }

   .u-section-8 .u-list-1 {
     margin-bottom: -231px;
   }

   .u-section-8 .u-repeater-1 {
     grid-template-columns: 100%;
   }
 }

 @media (max-width: 575px) {
   .u-section-8 .u-sheet-1 {
     min-height: 2150px;
   }

   .u-section-8 .u-text-2 {
     width: auto;
     font-size: 1.875rem;
     margin-top: 22px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-8 .u-list-1 {
     margin-bottom: -41px;
     margin-top: 58px;
   }
 }

 .u-section-9 {
   background-image: none;
 }

 .u-section-9 .u-sheet-1 {
   min-height: 700px;
 }

 .u-section-9 .u-layout-wrap-1 {
   margin-top: 60px;
   margin-bottom: 46px;
 }

 .u-section-9 .u-layout-cell-1 {
   min-height: 580px;
 }

 .u-section-9 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-9 .u-text-1 {
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin: 0 auto 0 1px;
 }

 .u-section-9 .u-text-2 {
   font-weight: 700;
   font-size: 3rem;
   margin: 20px auto 0 0;
 }

 .u-section-9 .u-text-3 {
   margin: 20px auto 0 0;
 }

 .u-section-9 .u-text-4 {
   font-size: 1.25rem;
   font-weight: 700;
   margin: 51px 0 0;
 }

 .u-section-9 .u-text-5 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 20px 0 0;
 }

 .u-section-9 .u-layout-cell-2 {
   min-height: 580px;
 }

 .u-section-9 .u-container-layout-2 {
   padding: 30px 29px;
 }

 .u-section-9 .u-text-6 {
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin: 0 auto 0 0;
 }

 .u-section-9 .u-text-7 {
   font-weight: 700;
   margin: 20px auto 0 0;
 }

 .u-section-9 .u-group-1 {
   min-height: 392px;
   width: 510px;
   margin: 45px auto 0;
 }

 .u-section-9 .u-container-layout-3 {
   padding: 30px;
 }

 .u-section-9 .u-form-1 {
   width: 450px;
   margin-bottom: 0;
   margin-top: 0;
 }

 .u-section-9 .u-btn-1 {
   background-image: none;
   border-style: none;
   text-transform: uppercase;
   letter-spacing: 2px;
 }

 @media (max-width: 1199px) {
   .u-section-9 .u-sheet-1 {
     min-height: 598px;
   }

   .u-section-9 .u-layout-cell-1 {
     min-height: 478px;
   }

   .u-section-9 .u-layout-cell-2 {
     min-height: 478px;
   }

   .u-section-9 .u-group-1 {
     width: 412px;
   }

   .u-section-9 .u-form-1 {
     width: 352px;
   }
 }

 @media (max-width: 991px) {
   .u-section-9 .u-sheet-1 {
     min-height: 220px;
   }

   .u-section-9 .u-layout-cell-1 {
     min-height: 679px;
   }

   .u-section-9 .u-text-2 {
     font-size: 2.25rem;
     width: auto;
     margin-top: 21px;
     margin-right: 0;
   }

   .u-section-9 .u-text-3 {
     margin-top: 19px;
   }

   .u-section-9 .u-text-5 {
     font-size: 1.875rem;
   }

   .u-section-9 .u-layout-cell-2 {
     min-height: 679px;
   }

   .u-section-9 .u-group-1 {
     width: 302px;
   }

   .u-section-9 .u-form-1 {
     width: 242px;
   }
 }

 @media (max-width: 767px) {
   .u-section-9 .u-sheet-1 {
     min-height: 320px;
   }

   .u-section-9 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-9 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-9 .u-layout-cell-2 {
     min-height: 577px;
   }

   .u-section-9 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-9 .u-group-1 {
     margin-right: initial;
     margin-left: initial;
     width: auto;
   }

   .u-section-9 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-9 .u-form-1 {
     height: 321px;
     width: 500px;
     margin-left: 0;
     margin-right: 0;
   }
 }

 @media (max-width: 575px) {
   .u-section-9 .u-text-2 {
     font-size: 1.875rem;
   }

   .u-section-9 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-9 .u-form-1 {
     width: 300px;
   }
 }